@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@{
    var menu = Context.Session.GetString("Menu");
    var menuScript = Context.Session.GetString("MenuScript");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IBI.<%= Name %>.Application</title>

    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.css" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <environment names="Development">
        <link rel="stylesheet" href="~/css/smartadmin-production-plugins.css" />
        <link rel="stylesheet" href="~/css/smartadmin-production.css" />
        <link rel="stylesheet" href="~/css/smartadmin-skins.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Test,Production">
        <link rel="stylesheet" href="~/css/smartadmin-production-plugins.min.css" />
        <link rel="stylesheet" href="~/css/smartadmin-production.min.css" />
        <link rel="stylesheet" href="~/css/smartadmin-skins.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="smart-style-0 fixed-ribbon menu-on-top">
    @Html.Raw(menu)
    <div id="main">
        <div id="content" class="row">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validate/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/respond.js/respond.min.js"></script>
    <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>

    <environment names="Development">
        <script src="~/js/IBI.js"></script>
        <script src="~/js/SmartNotification.js"></script>
        <script src="~/js/app.config.seed.js"></script>
        <script src="~/js/app.seed.js"></script>
    </environment>
    <environment names="Test,Production">
        <script src="~/js/IBI.min.js"></script>
        <script src="~/js/app.config.seed.min.js"></script>
        <script src="~/js/app.seed.min.js"></script>
        <script src="~/js/SmartNotification.min.js"></script>
    </environment>
    <script src="~/js/bootstrap-table-serversideselection.js"></script>
    @RenderSection("Scripts", required: false)
    @Html.Raw(menuScript)
    <script>
        window.addEventListener("message", function (e) {
            if (e.data.Event === "BackToUrl") {
                window.location.href = e.data.RelativePath;
            } else if (e.data.Event === "HiddenMenu") {
                if (e.data.IsHidden) {
                    $("body").addClass("hidden-menu");
                } else {
                    $("body").removeClass("hidden-menu");
                }
            }
        });
        $(document).ready(function () {
            pageSetUp();
            IBI.External.SendUrl("@(ViewData["Title"])", window.location.pathname + window.location.search);
            IBI.External.HiddenMenu();
            //tells the framework that the application is loaded and is ready
            IBI.External.Ready();
        });
    </script>
</body>
</html>